asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2025.11.12
cffi==1.17.1
charset-normalizer==3.4.4
cryptography==46.0.3
Django==4.2.25
idna==3.11
pdfminer.six==20231228
pdfplumber==0.11.5
pillow==10.4.0
pycparser==2.23
pypdf==5.9.0
pypdfium2==5.1.0
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.2.3
